@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.hr-lines {
  position: relative;
  /*  new lines  */
  max-width: 100%;
  text-align: center;
  width: 100%;
}

.hr-lines:before {
  content: " ";
  display: block;
  height: 1px;
  width: 45%;
  position: absolute;
  top: 50%;
  left: 0;
  background: rgb(153, 153, 153);
}

.hr-lines:after {
  content: " ";
  display: block;
  height: 1px;
  width: 45%;
  position: absolute;
  top: 50%;
  right: 0;
  background: rgb(153, 153, 153);
}